@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Plus+Jakarta+Sans:wght@400;600;700&display=swap');

body {
    font-family: 'Inter' !important;
}

/* ======= INDEX PAGE ======= */

.login {
    height: 80vh !important;
}

.login-container {
    width: 55%;
}

/* rasponsive hp */
@media screen and (max-width: 500px) {
    .sarjana-logo {
        width: 150px !important;
    }
    .login-container {
        width: 80%;
    }
    .login {
        height: 70vh !important;
    }
}

/* ======= INDEX PAGE END ======= */


/* ======= RIWAYAT PAGE ======= */
.point {
    background-color: #3A3937;
}
.point-text {
    font-size: 4rem !important;
}
.poin-form-container {
    width: 35%;
}
.riwayat-table {
    border-top: 2px solid #C5C5C5 !important;
    border-bottom: 2px solid #C5C5C5 !important;
}

/* rasponsive hp */
@media screen and (max-width: 500px) {
    .riwayat-table-container {
        display: none !important;
    }
    .riwayat-container {
        flex-direction: column !important;
        padding: 20px !important;
    }
    .sarjana-icon-riwayat {
        display: none !important;
    }
    .poin-form-container {
        width: 100%;
        margin-top: 8vmax !important;
    }
}
/* ======= RIWAYAT PAGE END ======= */


/* ======= HADIAH PAGE ======= */
.hadiah-card:hover .notice {
    background-color: #91919b !important;
}

@media screen and (max-width: 500px) { 
    .hadiah-container {
        padding: 20px !important;
    }
    .sarjana-logo-hadiah {
        display: none !important;
    }
    .card-header, .hadiah-card {
        padding: 0 !important;
    }
    .notice.p-6 {
        padding: 1rem !important;
    }
    .hadiah-title {
        font-size: 1.25rem !important;
    }
}
/* ======= HADIAH PAGE END ======= */


